body{
    background-color: beige;
}
h1{
    border: 3px solid purple;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    border-bottom: 3px solid red;
    border-top: 3px solid forestgreen;
    border-left: 3px dashed hsl(170, 91%, 42%);
    border-right: 3px dashed magenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
}